<div class="grow-and-shrink">
  <img class="mx-auto d-block rotate" src="assets/images/logo.png" alt="Potion Parser Logo">
</div>
<div class="terraria-text container">
  <div class="row">
    <div class="col terraria-menu">
      <div class="row">
        <div class="spacing"></div>
        <div class="col">
          <div class="row t-cell terraria-submenu">
            <app-potions-selector (removeIngredientEmitter)="removeIngredient($event)"
              (addIngredientEmitter)="addIngredient($event)" [potions]="recoveryPotions"
              [imageFolder]="recoveryFolderPath" [potionTitle]="recoveryTitle"></app-potions-selector>
          </div>
          <div class="row t-cell terraria-submenu">
            <app-potions-selector (removeIngredientEmitter)="removeIngredient($event)"
              (addIngredientEmitter)="addIngredient($event)" [potions]="teleportationPotions"
              [imageFolder]="teleportationFolderPath" [potionTitle]="teleportationTitle"></app-potions-selector>
          </div>
          <div class="row t-cell terraria-submenu">
            <app-potions-selector (removeIngredientEmitter)="removeIngredient($event)"
              (addIngredientEmitter)="addIngredient($event)" [potions]="cosmeticPotions"
              [imageFolder]="cosmeticFolderPath" [potionTitle]="cosmeticTitle"></app-potions-selector>
          </div>
        </div>
        <div class="spacing"></div>
        <div class="col terraria-submenu">
          <app-potions-selector (removeIngredientEmitter)="removeIngredient($event)"
            (addIngredientEmitter)="addIngredient($event)" [potions]="buffPotions1" [imageFolder]="buffFolderPath1"
            [potionTitle]="buffTitle1"></app-potions-selector>
        </div>
        <div class="spacing"></div>
        <div class="col terraria-submenu">
          <app-potions-selector (removeIngredientEmitter)="removeIngredient($event)"
            (addIngredientEmitter)="addIngredient($event)" [potions]="buffPotions2" [imageFolder]="buffFolderPath2"
            [potionTitle]="buffTitle2"></app-potions-selector>
        </div>
        <div class="spacing"></div>
      </div>
    </div>
    <div class="col-3 terraria-menu ingredients">
      <app-ingredients [ingredients]="ingredients"></app-ingredients>
    </div>
  </div>
</div>