@font-face {
  font-family: andy;
  src: url('src/assets/fonts/Andy.otf') format("opentype");
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

.terraria-text {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: andy, serif;
  font-size: 24px;
}

.terraria-menu {
  background-color: rgba(73, 94, 170, 0.95);
  border: 1px solid black;
}

.terraria-submenu {
  margin: 10px;
  background-color: rgba(85, 111, 205, 0.94);
  border: 1px solid rgba(105, 133, 238, 0.95);
}
